
@{
    ViewBag.Title = "About";
}

<br />
<br />
<br />
@{<div class="rentalHeader text-center">
        <h2 class="text-center RTitle">About</h2>
        <h3>all about the company</h3>
    </div>
}

