
@{
    ViewBag.Title = "Flute";
}

<h1>Flute</h1>
<img class="showInstruments" src="~/Content/images/flute.jpg"/>
<br />
<br />
<button onclick="myNewFunction()">New</button>
<span>&nbsp;&nbsp;</span>
<button onclick="myUsedFunction()">Used</button>
<script>
    function myNewFunction() {
        document.getElementById("priceDisplay").innerHTML = "The Price to rent a NEW flute is: $40 a month";
    }
    function myUsedFunction() {
        document.getElementById("priceDisplay").innerHTML = "The Price to rent a USED flute is: $25 a month";
    }
</script>
<h3 id="priceDisplay">Please Select A Rental Type</h3>
