
@{
    ViewBag.Title = "Trumpet";
}

<h1>Trumpet</h1>
<img class="showInstruments" src="~/Content/images/trumpet.jpg"/>
<br />
<br />
<button onclick="myNewFunction()">New</button>
<span>&nbsp;&nbsp;</span>
<button onclick="myUsedFunction()">Used</button>
<script>
    function myNewFunction() {
        document.getElementById("priceDisplay").innerHTML = "The Price to rent a NEW trumpet is: $55 a month";
    }
    function myUsedFunction() {
        document.getElementById("priceDisplay").innerHTML = "The Price to rent a USED trumet is: $25 a month";
    }
</script>
<h3 id="priceDisplay">Please Select A Rental Type</h3>
<div class="text-warning">
    <h6>
        After renting for 18 months has been achieved,<strong> you own the instrument!</strong>
        If you return it at any time before 3 months there will be a $200 re-stocking fee.
        If you return it after 3 months you will forfeit any earned equity in the instrument.
    </h6>
</div>