/*this is my custom css file for the project*/

.myFooterText {
    font-family: 'Segoe UI';
}

.mainImage {
    height: auto;
    width: 40em;
    border: black 3px solid;
    box-shadow: 10px 10px 5px grey;
}
.showInstruments {
    width: 40em;
}
.instruments {
    height: 20em;
    width: 25em;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}
.RTitle {
    font-size: 7rem;
    background-color: rgb(121, 130, 143);
    border: 3px solid black;
}
.CTitle {
    font-size: 3rem;
    background-color: rgb(121, 130, 143);
    padding: 20px;
}
.rentalHeader {
    padding-left: 20px;
    padding-right:20px;
}

.homePage {
    background-color: rgb(121, 130, 143);
    border: 3px solid black;
}
.middleData {
    background-color: rgb(234, 234, 234);
    padding:15px;
}

.instTitle {
    margin: 10px;
    background-color: black;
    color: white;
    opacity: .8;
    border: 4px solid rgb(121, 130, 143);
    font-size: 20px;
    font-family: Rockwell;
}
.retalsList {
    border: 6px solid rgb(121, 130, 143);
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(234, 234, 234, 0.70);
}
